<?xml version="1.0" encoding="utf-8"?>
<!--
    Debug-variant manifest merged into the debug build.
    Registers ComponentActivity so that Robolectric unit tests using
    createComposeRule() can resolve an activity for the test host.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="true"
            tools:node="merge" />
    </application>

</manifest>
